* {
   margin: 0;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   padding: 0;
   outline: none;
   border: 0;
   text-decoration: none;
   list-style: none;
}
::-webkit-scrollbar {
   -webkit-appearance: none;
   width: 7px;
}
::-webkit-scrollbar-thumb {
   border-radius: 4px;
   background-color: rgba(0, 0, 0, 0.5);
   -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
html,
body,
.wrapper {
   height: 100%;
}
html {
   scroll-behavior: smooth;
}
.wrapper {
   overflow-x: hidden;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
}
main {
   -webkit-box-flex: 1;
   -ms-flex: auto;
   flex: auto;
}
[class*="__container"] {
   margin: 0 auto;
   max-width: 1200px;
   padding: 0px 15px;
}
a {
   text-decoration: none;
   color: #000;
}
button {
   cursor: pointer;
}
.suptitle {
   display: inline-block;
   padding: 24px 0px 18px 0px;
   font-family: "Libre Franklin";
   font-size: 10px;
   letter-spacing: 1px;
   text-transform: uppercase;
   color: #999;
}
.subtitle {
   font-family: "Source Serif Pro";
   color: #666;
}
.title {
   font-family: "Tenor Sans";
   font-weight: 400;
   font-size: 20px;
   text-transform: uppercase;
}
.link {
   margin: 15px 0px 25px 0px;
   font-family: "Libre Franklin";
   font-weight: 700;
   font-size: 10px;
   letter-spacing: 1px;
   text-transform: uppercase;
}
.item {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
}
.title-footer {
   font-family: "Libre Franklin";
   font-size: 10px;
   letter-spacing: 1px;
   text-transform: uppercase;
   color: #666;
}
.header {
   position: relative;
}
.header::after {
   content: "";
   position: absolute;
   width: 100%;
   height: 1px;
   bottom: 0;
   background: #e6e6e6;
}
.header__container {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   padding: 35px 15px;
}
.header .menu {
   padding-right: 20px;
}
.header .menu__logo {
   display: none;
}
.header .menu__items {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   gap: 40px;
   font-family: "Libre Franklin";
   font-size: 14px;
}
.header .menu__link {
   position: relative;
}
.header .menu__link::after {
   content: "";
   position: absolute;
   height: 2px;
   border-radius: 10px;
   width: 100%;
   background: #000;
   left: 0;
   top: 0;
   opacity: 0;
   -webkit-transition: all 0.4s ease;
   transition: all 0.4s ease;
}
.header .menu__link:hover::after {
   top: 30px;
   opacity: 1;
}
.header__burger {
   display: none;
   position: relative;
   width: 30px;
   height: 20px;
   z-index: 2;
}
.header__burger span {
   background: #000;
   position: absolute;
   width: 100%;
   height: 2px;
   right: 0;
   top: 9px;
   -webkit-transition: all 0.3s;
   transition: all 0.3s;
}
.header__burger::before,
.header__burger::after {
   content: "";
   background: #000;
   position: absolute;
   width: 100%;
   height: 2px;
   right: 0;
   -webkit-transition: all 0.3s;
   transition: all 0.3s;
}
.header__burger::before {
   top: 0;
}
.header__burger::after {
   bottom: 0;
}
.header__burger.active::before {
   -webkit-transform: rotate(45deg);
   transform: rotate(45deg);
   top: 9px;
}
.header__burger.active::after {
   -webkit-transform: rotate(-45deg);
   transform: rotate(-45deg);
   bottom: 9px;
}
.header__burger.active span {
   -webkit-transform: scale(0);
   transform: scale(0);
}
.house__container {
   position: relative;
   padding-bottom: 65px;
}
.house__container::after {
   content: "";
   position: absolute;
   width: 100%;
   height: 1px;
   bottom: 0;
   background: #e6e6e6;
}
.house__intro {
   padding: 60px 0px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   gap: 51px;
}
@media (max-width: 991px) {
   .house .house__intro {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
   }
   .house .house__content {
      text-align: center;
      max-width: 800px;
      margin: 0 auto;
   }
   .house .house__subtitle {
      max-width: 420px;
      margin: 0 auto;
   }
}
.house__image {
   -ms-flex-preferred-size: 65%;
   flex-basis: 65%;
}
.house__image img {
   width: 100%;
}
.house__content {
   -ms-flex-preferred-size: 35%;
   flex-basis: 35%;
}
.house__suptitle {
   padding-top: 0;
}
.house__title {
   font-size: calc(24px + (39 - 28) * ((100vw - 320px) / (1230 - 320)));
}
.house__subtitle {
   padding: 28px 0px;
}
.house__items {
   display: -ms-grid;
   display: grid;
   -ms-grid-columns: (minmax(290px, 1fr)) [auto-fit];
   grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
   grid-column-gap: 20px;
   grid-row-gap: 25px;
}
.latest__container {
   position: relative;
   padding: 90px 15px;
}
.latest__container::after {
   content: "";
   position: absolute;
   width: 100%;
   height: 1px;
   bottom: 0;
   background: #e6e6e6;
}
.latest__suptitle {
   padding-top: 0;
}
.latest__items {
   display: -ms-grid;
   display: grid;
   -ms-grid-columns: (minmax(275px, 1fr)) [auto-fit];
   grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
   grid-column-gap: 20px;
   grid-row-gap: 25px;
}
.latest__btn {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   margin: 65px auto auto;
   padding: 21px 26px;
   border: 1px #000 solid;
   background: transparent;
   text-transform: uppercase;
   -webkit-transition: all 0.4s ease;
   transition: all 0.4s ease;
}
.latest__btn:hover {
   background: #000;
   color: #fff;
}
.featured__container {
   padding: 90px 15px;
}
.featured__suptitle {
   padding-top: 0;
}
.featured__items {
   display: -ms-grid;
   display: grid;
   -ms-grid-columns: (minmax(550px, 1fr)) [auto-fit];
   grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
   grid-column-gap: 20px;
   grid-row-gap: 25px;
}
@media (max-width: 575px) {
   .featured .featured__items {
      -ms-grid-columns: (minmax(290px, 1fr)) [auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
   }
}
.featured .item__title {
   max-width: 522px;
}
.footer {
   background: #141414;
}
.footer__container {
   padding: 90px 15px;
}
.footer__header {
   position: relative;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: end;
   -ms-flex-align: end;
   align-items: flex-end;
   padding-bottom: 60px;
}
.footer__header::after {
   content: "";
   position: absolute;
   width: 100%;
   height: 1px;
   bottom: 0;
   background: #4d4d4d;
}
.footer__copyright {
   margin-left: 15px;
}
.footer__items {
   padding-top: 60px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}
@media (max-width: 575px) {
   .footer__items {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      gap: 50px;
   }
}
.footer__items .item {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   gap: 20px;
}
.footer__items .item__links {
   display: -ms-grid;
   display: grid;
   white-space: nowrap;
   -ms-grid-columns: (minmax(20px, 12%)) [auto-fit];
   grid-template-columns: repeat(auto-fit, minmax(20px, 12%));
   grid-column-gap: 130px;
   grid-row-gap: 15px;
   padding-right: 100px;
}
.footer__items .item__link {
   font-family: "Libre Franklin";
   font-size: 14px;
   color: #fff;
}
.footer__items .item__email-form {
   position: relative;
   padding-right: 100px;
}
.footer__items .item__input {
   max-width: 100%;
   padding: 18px 24px;
}
.footer__items .item__input::-webkit-input-placeholder {
   font-family: "Libre Franklin";
   font-size: 10px;
   letter-spacing: 1px;
   text-transform: uppercase;
   color: #666;
}
.footer__items .item__input:-ms-input-placeholder {
   font-family: "Libre Franklin";
   font-size: 10px;
   letter-spacing: 1px;
   text-transform: uppercase;
   color: #666;
}
.footer__items .item__input::-ms-input-placeholder {
   font-family: "Libre Franklin";
   font-size: 10px;
   letter-spacing: 1px;
   text-transform: uppercase;
   color: #666;
}
.footer__items .item__input::placeholder {
   font-family: "Libre Franklin";
   font-size: 10px;
   letter-spacing: 1px;
   text-transform: uppercase;
   color: #666;
}
.footer__items .item__btn {
   position: absolute;
   padding: 21px 24px;
   background: #000;
   font-family: "Libre Franklin";
   font-size: 10px;
   letter-spacing: 1px;
   text-transform: uppercase;
   color: #fff;
}
.footer__items .item__columns {
   display: -ms-grid;
   display: grid;
   white-space: nowrap;
   -ms-grid-columns: (minmax(20px, 12%)) [auto-fit];
   grid-template-columns: repeat(auto-fit, minmax(20px, 12%));
   grid-column-gap: 130px;
   grid-row-gap: 15px;
   padding-right: 100px;
}
.footer__items .item__column {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   gap: 20px;
}
@media (max-width: 575px) {
   .menu {
      position: absolute;
      width: 100%;
      height: 100vh;
      padding-right: 0 !important;
      background: #fff;
      top: 0;
      left: -100%;
      z-index: 1;
      -webkit-box-shadow: 0px 0px 15px 12px rgba(34, 60, 80, 0.2);
      box-shadow: 0px 0px 15px 12px rgba(34, 60, 80, 0.2);
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;
   }
   .menu__logo {
      display: block !important;
      padding-top: 40px;
   }
   .menu__items {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      text-align: center;
   }
   .menu.active {
      left: 0;
   }
   .header__burger {
      display: block;
   }
}
